{% trans_default_domain 'FOSUserBundle' %}
<h1>- CHANGEMENT DE MOT DE PASSE -</h1>

{{ form_start(form)}}

{{ form_errors(form) }}
<div>
    {{ form_label(form.current_password, 'Mot de passe actuel', {'label_attr': {'class': 'labelLogin'}}) }}<br>
    {{ form_widget(form.current_password, {'attr': {'class': 'userInput'}}) }}
    {{ form_errors(form.current_password) }}
</div>
<div>
    {{ form_label(form.plainPassword.first, 'Nouveau mot de passe', {'label_attr': {'class': 'labelLogin'}}) }}<br>
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'userInput'}}) }}
</div>
<div>
    {{ form_label(form.plainPassword.second, 'Répéter le nouveau mot de passe', {'label_attr': {'class': 'labelLogin'}}) }}<br>
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'userInput'}}) }}
    {{ form_errors(form.plainPassword.second) }}
</div>
{{ form_rest(form) }}
<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    <a class="abortForm" href="{{ path('fos_user_profile_show') }}">Annuler</a>
</div>
{{ form_end(form) }}
